// Grayscale //
$white: white;
$offwhite: #efefef;
$lightergray: #aaa;
$lightgray: #999;
$gray: #666;
$darkgray: #414141;
$darkergray: #232323;
$almostblack: #131313;
$black: black;

// Brand Colors //
$royalblue: #1F6AB0;
$emerald: #056037;
$darknavy: #022435;
$pageBackground: #FFFDF2;