// Primary Colors //
$white: white;
$offwhite: #efefef;
$lightergrey: #aaa;
$lightgrey: #999;
$grey: #666;
$darkgrey: #414141;
$darkergrey: #232323;
$almostblack: #131313;
$black: black;

// Brand Colors //
$royalblue: #1F6AB0;
$emerald: #056037;
$darknavy: #022435;
$pageBackground: #FFFDF2;